name: GitHub Pages

on:
  push:
    branches:
      - main
      - dev

env:
  PYTHON_VERSION: "3.10"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: false
          fetch-depth: 0

      - name: Checkout submodules
        run: |
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/tatsy/"
          git config --global url."https://x-access-token:${{ secrets.MY_PAT }}@github.com/".insteadOf "https://github.com/tatsy-classes/"
          git submodule sync --recursive
          git submodule update --init --recursive

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install FFmpeg
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ffmpeg

      - name: Cache Jupyter execution
        uses: actions/cache@v4
        with:
          path: .jupyter_cache
          key: ${{ matrix.os }}-jupyter-${{ hashFiles('**/*.ipynb') }}
          restore-keys: |
            ${{ matrix.os }}-jupyter-

      - name: Install UV
        run: |
          pipx install uv

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install packages
        run: |
          uv sync

      - name: Build
        run: uv run jb build --all .

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_build/html/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      pages: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Github Pages deployment
        id: deployment
        uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/master'
